@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
}

body{
    background: #f0e5da;
    font-family: 'poppins', sans-serif;
}

/*navbar*/
nav{
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    position: fixed;
    display: flex;
    width: 100%;
    background:#f2ece6;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin: 5px 10px;
}

nav ul li a{
    padding: 2px 10px;
    color: #2e2e2e;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
}

nav ul li a:hover{
    color: #fff;
    background: #df8cc6;
    border-radius: 5px;
}

#login{
    background-color: #A93C88;
    color: #fff;
    border-radius: 5px;
}

.logo img{
    width: 100%;
    cursor: pointer;
}

main{
    padding-top: 60px;
}
.home{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    padding: 60px 0px 30px 0px;
}
.home-text .text-h4{
    font-size:30px;
    color:#A93C88;
    font-weight: 400;

    justify-items: left;
}

/*section menu*/

#menu{
    background-color: rgba(255, 255, 255, 0.9); 
    border: 2px solid #A93C88;
    height: 600px;
    padding:0;
    margin-right: 30px;
    box-shadow: -1em 0.5em 2em rgba(98, 87, 87, 0.253);
    transition: box-shadow 0.3s;

}

#menu-title{
    background-color: #A93C88;
    color:#ffffffce;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 10px;
    margin-bottom: 0;
}
.col#botoes{
    display: flex;
    flex-direction: column;
}
.btn{
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: left;
    padding-left: 10px;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 14px;
    font-weight: 500;
}

.btn:hover{
    background: rgba(242, 90, 196, 0.377);
    border: 2px #f25ac4;
    padding: 15px;
    padding-left: 25px;
    transition: 0.2s;
}
svg{
    margin-right: 15px;
    margin-left: 3px;
}

a.link-button {
    text-decoration: none; /* Remover sublinhado do link */
    color: inherit; /* Herdar a cor do texto do botão */
    margin-right: 50px;
}
/*section blocos de formularios*/


.bloco{
    /*border: 3px solid green;*/
    background-color: #ffffffdd;
    font-size: 14px;
    padding: 0;
    padding-bottom: 20px;
    height: fit-content;
    box-shadow: -1em 0.5em 2em rgba(98, 87, 87, 0.253);
    transition: box-shadow 0.3s;
}
.block-title{
    width:100%;
    background: linear-gradient(90deg, #A93C88,#f0e5da);
    padding: 10px;
    padding-top:20px;
    color:#fff;
}
.block-title h6{
    padding-left: 60px;
}

/* tabelas */
section.selectTable{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;

}
.linhaPar {
    background-color: #f3f3f3;
}
.linhaImpar {
background-color: #c6c6c6;
}

table{ 
width: 100%;
margin-bottom: 30px;
}
th{
    border-right: 2px solid #ffffffdd;;
    background-color: #df8cc6;
}
tbody{
    background-color: rgba(255, 241, 201, 0.691);
    border-left: 2px solid #ffffffdd;
    border-right: 2px solid #ffffffdd;

}
/*formulario*/
form{
    padding:12px;
}

.row#block .col{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
main form input {
    background: #f1e6ed6d;
    height: 30px;
    color: rgb(51, 51, 51);
    border: 1px solid #a93c887e;
    border-radius: 2px;

}

main form select {
    background: #f1e6ed6d;
    height: 30px;
    width:178px;
    color: rgb(51, 51, 51);
    border: 1px solid #a93c887e;
    border-radius: 2px;
}

main form #Data{
    width:178px;
}
main form button{
    cursor: pointer;
    width: 150px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #ca3fa1;
    color: white;
    display: inline-block;
}

main form button:hover {
    background: #d76db8;
}
p button {
    display: flex;
    align-items: center;
    justify-content: center;
}

main form .row#buttons{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.statusError {
    font-size: 0.8rem;
    margin-top: 1rem;
    color: red;
    text-align: center;
}

button.functionButton{
    padding:12px;
    background-color: #ffffff00;
    border:0;
}

/*sections*/
.sectionCadastrar{
    display:block;
}

.sectionExcluir{
    display:none;
}
.sectionAlterar{
    display:none;
}
section#AlterarInfo{
    display:none;
}
.sectionAlterar#assentos{
    display:block;
}
section#AlterarInfo-assentos{
    display:block;
}
/*responsividade*/
@media (max-width:785px) {
    .btn{
        font-size: 13px;
    }
    .bloco{
        width:fit-content;
    }
    section.selectTable{
        width: 100%;
        font-size: 12px;
    }
}

