@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
}

body{
    background: linear-gradient(45deg, #f0e5da,#a76b95, #c459f696);
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    align-items: center;
    font-size: 15px;
    text-align: justify;
}

h4 {
    text-align: center;
    color: #333;
   margin-bottom: 20px;
}

a#btn{
    background-color: #a76b95;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin: 220px;
}

a#btn:hover {
    background-color: #e1aad1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


/* bilhete do voo*/
.container#ticket{
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.ticket {
    background-color: white;
    border-collapse: collapse;
    padding: 20px;
    width: 100%;
    text-align: center;
    border: 2px solid #ddd;
    border-style:dashed;
}

th#main{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
 td {
    padding:15px;
    text-align: left;
    
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
#saida{
    padding-left:70px;
    margin-left:20px;

}
#chegada{
    padding-right:70px;
    margin-right:20px;

}
/*rodapé*/
footer {
    background-color: #f8ece1;
    border: 10px 10px;
    color: #95427c;
    padding: 30px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 8px auto;
}

.footer-left{
    align-items: center;
}

.footer-left ul {
    list-style: none;
}

.footer-left li {
    margin-bottom: 12px;
}

.footer-left a {
    text-decoration: none;
    color:#bc529c;
}

.admin-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #bc529c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.admin-button a:hover {
    background-color: #bc529c;
}

