@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
}

body{
    background: linear-gradient(100deg, #f0e5da, #a76b95);
    font-family: 'poppins', sans-serif;
}
.card-header#nav{
    background-color: #f2ece6;    
}
ul li .nav-link:hover{
    color: #fff;
    background: #bfb4bb;
    border-radius: 5px;
}
.nav-item .nav-link{
    color:#2e2e2e;

}
#voo_container {
    max-width: 800px;
    margin: 20px auto;
    width:fit-content;
}

.voo-card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    width:fit-content;
}

.voo-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.voo-details {
    display: flex;
    flex-direction: flex;
    align-items: center;
    text-align: center;
    padding-right: 16px;
}

.voo-details div {
    padding-left: 40px;
}

.voo-details p {
    margin: 0;
    color:#dc48b0d0;
}

.voo-details h2
 {
    margin: 0;
    font-size: 25px;
}

.voo-preco {
    color: #dc48b0d0;
    font-size: 20px;
    font-weight: bold;
}

.voo-details img {
    width: 24px;
    height: 24px;
    margin-top: 12px;
}

button{
    padding: 2px 15px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #dc48b0d0;
    color: #dc48b0d0;
    background-color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #de91c7d0;
    color: #ffffff; 
 }
