body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #f0e5da, #a76b95);
    margin: 0;
    color:rgb(14, 14, 14);
    align-items: center;
    width: 100%;
    
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

h2 {
    text-align: center;
    color: #333;
   
}
.statusError {
    font-size: 0.8rem;
    margin-top: 1rem;
    color: red;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    
}

label {
    margin-bottom: 8px;
    color: #333;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

button {
    background-color: #a93c88d0;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px; 
    margin-bottom: 20px;
}

button:hover {
    background-color: #a93c88d0;
}
footer {
    background-color: #f8ece1;
    border: 10px 10px;
    color: #95427c;
    padding: 30px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 8px auto;
}

.footer-left{
    align-items: center;
}

.footer-left ul {
    list-style: none;
}

.footer-left li {
    margin-bottom: 12px;
}

.footer-left a {
    text-decoration: none;
    color:#bc529c;
}

.admin-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #bc529c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.admin-button a:hover {
    background-color: #bc529c;
}

