@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
}

body{
    background: linear-gradient(45deg, #f0e5da,#a76b95, #c459f696);
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    align-items: center;
}

h2 {
    text-align: center;
    color: #333;
   
}

a#btn{
    background-color: #a76b95;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin: 200px;
}

a#btn:hover {
    background-color: #e1aad1;
}

