@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
}

body{
    background: linear-gradient(45deg, #f0e5da,#a76b95, #c459f696);
    font-family: 'poppins', sans-serif;
}
/*barra de nav*/
.nav{
    width:100%;
}
.nav.nav-tabs{
    display:flex;
}
nav ul{
    display: flex;
    align-items: center;
}
ul li{
    color: #2e2e2e;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
    margin-left:10px;
}
.navbar-brand{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand img#logo{
    display: block;
    margin: 0 auto;
}
.nav-item#help{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link-custom#ajuda{
    align-items: center;
    font-size: 13px;
    color: #2e2e2e;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
    margin-left:5px;
}
ul li .nav-link:hover{
    color: #fff;
    background: #bfb4bb;
    border-radius: 5px;
}
.nav-item .nav-link{
    color:#2e2e2e;
    margin-top: 25px;
}
a.nav-link.active.custom-nav-link{
    background: linear-gradient(45deg, #f0e5da);
}

/*card barra nav*/
.card-header#nav{
    background-color: #f2ece6;    
}
.card-header-tabs{
    margin-top: -20px;
}
.card-body#nav{
    background-color: linear-gradient(45deg, #f0e5da);
}
.background-img{
    margin: -10px;
    padding: 15px;
    background-image:url('../../../src/assets/img/maragogi2.jpg');
    background-size: cover;
    background-repeat:no-repeat;
}
.card-title#nav{
    color:#d55fb2;
    font-weight: 800;
    font-size: 30px;
}
.card-text#nav{
    font-weight: 700;
    color:#ffffff
}
.highlight{
    color:#f099d6
}
.dark{
    color:#2e2e2e;
}
.btn.btn-light{
    color:#6e6e6e;
    font-size: 13px;
}
/* div inserir destinos e data*/
.container{
    padding-top: 40px;
}
.section-destination{
    background-color: #a93c88d0;
    padding:30px;
    border-radius: 10px;
}
.col-10#dest {
    display: flex;
    font-size: 13px;
}
.destination-btn{
    padding: 7px 30px;
    background:#A93C88;
    color:white;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    align-content: flex-start;
    flex-direction: column;
    justify-content: space-between ;
}
.destination-btn + .destination-btn{
    margin-left: 20px;
    width:100%;
    justify-content: space-between ;
}
.row#dest-input{
    display: flex;
    padding-top:20px;
    justify-content: flex-start;
}
.col#dest-input{
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 10px;
    padding: 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between ;
}
#dest-input label{
    font-weight: 700;
    display: flex;
    text-align: left;
    margin-bottom: -10px;
}
#dest-input select{
    width: 90%;
    height: 50px;
    border: 1px solid #a93c887e;
    border-radius: 8px;
}
.row#apenasIda{
    display: flex;
    padding-top:20px;
    justify-content: space-between
}
.col-4#apenasIda{
    font-weight: 700;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    width: 20%;
}
.col-4#IdaeVolta{
    font-weight: 700;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    width: 20%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between ;
}
.col-4#IdaeVolta + .col-4#IdaeVolta{
    margin-right: 10px;
    margin-left: 5px;
    justify-content: space-between ;
}
.col#search {
    display: flex;
    font-size: 13px;
}
.search-btn{
    display: inline-block;
    height: 50%;
    padding: 7px 30px;
    background:#2e2e2e;
    color:white;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 20px;
    align-content: flex-start;
    flex-direction: column;
    justify-content: space-between ;
}
#Data {
    border: 1px solid #a93c887e;
    color: #bfb4bb;
    font-size: 14px;
}
.invisible {
    visibility: hidden !important;
}
/*cards sugestoes de destinos*/
.row#destinos_{
    margin-bottom: 10px;
}
.container-destinos{
    margin-top: 100px;
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 70px;
}
.section-title{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    
}
.section-title#vantagens{
    display: flex;
    justify-content: left;
}
.highlight2{
    color:#be3e97;
}
.card#destino{
    padding:0px;
    border-radius: 20px;
    height: 400px;
    box-shadow: -1em 0.5em 2em rgba(98, 87, 87, 0.253);
    transition: box-shadow 0.3s;
}
div.card#destino:hover{
    box-shadow: -1em 0.5em 2em rgba(98, 87, 87, 0.51);
}   
.card-img-top{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-title#destino{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 550;
    color: #3b3b3b;
    display: flex;
    justify-content: center;
} 
.list-group.list-group-flush{
    align-items: center;
}
li.list-group-item{
    border-radius: 20px;
    width:fit-content;
}

/*vantagens Ciel*/


.row#vantagens{
    margin-top: 90px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
}
.col#vantagens{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.card#vantagens{
    width: 18rem;
    height: 25rem;
    border-radius: 20px;
    text-align: left;
}
.card-title#vantagens{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 550;
    color: #4e4e4e;
    margin-right: 12px;
    margin-left: 12px
}
.card-title#icon{
    display: flex;
    flex-direction: row;    
}
.card-title#icon{
    display: flex;
    flex-direction: row;    
}
.card-body#vantagens{
    padding-top: 40px;
    color: #797878;
    font-size: 14.5px;
}
.card-text#vantagens{
    margin-top: 28px
}
/*carrossel*/
#destinoicon{
    width:fit-content;
    margin-top: -5px;
    padding-right:0;
}
#testandoDest{
    margin-top: 80px;
}
#carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top:20px;
    max-width: fit-content;
    margin:0;
    margin-bottom:60px;
}

.col#teste{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding-right: 0px;
    margin-right:50px;
    margin-left: 50px;
    padding-left: 0px;
    border-radius: 10px;
}

.d-block#aa{
    size: cover;
    margin-left: 0px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 1000px;
    height:500px;
    opacity: 0.87;;
}

.carousel-caption#bb{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: -50px;
    width:fit-content;
    line-height: 800px;
    font-weight:600;
    text-shadow:#3b3b3b;
}

#carousel-desc{
    font-size: 15px;
    color:#1d1d1d;
    font-weight: 500;
    padding-left: 10px;
    padding-right:10px;
    text-align: justify;
}

.carousel-control-prev{
    width:fit-content;
    margin-left: 0;
}
.carousel-control-next{
    margin-right:0;
    width:fit-content;
}

/*responsividade*/
@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin:  0;
    }
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 125%;
    }
    .col-4#apenasIda{
        width:50%;
        margin-right: 25%;
    }
    .col-4#IdaeVolta{
        width:40%;
        margin-right: 10px;
    }
    .col-4#IdaeVolta + .col-4#IdaeVolta{
        margin-right: 45px;
        margin-left: 0px;
        justify-content: space-between ;
    }
    #Data {
        width: 20px;
    }
    .search-btn {
        margin-left:60px;
        padding: 7px 30px; 
        font-size: 10px; 
        width: 300px;
    }
    /*.card#destino{
        padding:0px;
        border-radius: 20px;
        height: 300px;
        margin-bottom: 10px;
    }*/
    .carousel{
        min-width: 500px;
    }
    .col#teste{
        min-width: min-content;
    }
    .d-block#aa{
        width: 300px;
        height:300px;
    }
    
}

