@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
}

body{
    background: linear-gradient(45deg, #f0e5da,#a76b95, #c459f696);
    font-family: 'poppins', sans-serif;
}
/*barra de nav*/
.nav{
    width:100%;
}
.nav.nav-tabs{
    display:flex;
}
nav ul{
    display: flex;
    align-items: center;
}
ul li{
    color: #2e2e2e;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
    margin-left:10px;
}
.navbar-brand{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand img#logo{
    display: block;
    margin: 0 auto;
}
.nav-item#help{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link-custom#ajuda{
    align-items: center;
    font-size: 13px;
    color: #2e2e2e;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
    margin-left:5px;
}
ul li .nav-link:hover{
    color: #fff;
    background: #bfb4bb;
    border-radius: 5px;
}
.nav-item .nav-link{
    color:#2e2e2e;
    margin-top: 25px;
}
a.nav-link.active.custom-nav-link{
    background: linear-gradient(45deg, #f0e5da);
}

/*card barra nav*/
.card-header#nav{
    background-color: #f2ece6;    
}

.card-header-tabs{
    margin-top: -20px;
}
.card-body#nav{
    background-color: linear-gradient(45deg, #f0e5da);
}
.background-img{
    margin: -10px;
    padding: 15px;
    background-image:url('../../../src/assets/img/maragogi2.jpg');
    background-size: cover;
    background-repeat:no-repeat;
}
.card-title#nav{
    color:#d55fb2;
    font-weight: 800;
    font-size: 30px;
}
.card-text#nav{
    font-weight: 700;
    color:#ffffff
}
.highlight{
    color:#f099d6
}
.dark{
    color:#2e2e2e;
}
.btn.btn-light{
    color:#6e6e6e;
    font-size: 13px;
}
/* div inserir destinos e data*/
.container{
    padding-top: 40px;
}
.section-destination{
    background-color: #a93c88d0;
    padding:30px;
    border-radius: 10px;
}
.col-10#dest {
    display: flex;
    font-size: 13px;
}
.destination-btn{
    padding: 7px 30px;
    background:#A93C88;
    color:white;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    align-content: flex-start;
    flex-direction: column;
    justify-content: space-between ;
}
.destination-btn + .destination-btn{
    margin-left: 20px;
    width:100%;
    justify-content: space-between ;
}
.row#dest-input{
    display: flex;
    padding-top:20px;
    justify-content: flex-start;
}
.col#dest-input{
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 10px;
    padding: 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between ;
}
#dest-input label{
    font-weight: 700;
    display: flex;
    text-align: left;
    margin-bottom: -10px;
}
#dest-input input{
    width: 90%;
    height: 50px;
    border: 1px solid #a93c887e;
    border-radius: 8px;
}
.row#apenasIda{
    display: flex;
    padding-top:20px;
    justify-content: space-between
}
.col-4#apenasIda{
    font-weight: 700;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    width: 20%;
}
.col-4#IdaeVolta{
    font-weight: 700;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    width: 20%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between ;
}
.col-4#IdaeVolta + .col-4#IdaeVolta{
    margin-right: 10px;
    margin-left: 5px;
    justify-content: space-between ;
}
.col#search {
    display: flex;
    font-size: 13px;
}
.search-btn{
    display: inline-block;
    height: 50%;
    padding: 7px 30px;
    background:#2e2e2e;
    color:white;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 20px;
    align-content: flex-start;
    flex-direction: column;
    justify-content: space-between ;
}
#Data {
    color: transparent;
    font-size: 14px;
}
.invisible {
    visibility: hidden !important;
}
/*cards sugestoes de destinos*/
.row#destinos_{
    margin-top: 70px;
    margin-bottom: 20px;
}
.card#destino{
    padding:0px;
    border-radius: 20px;
    height: 400px;
    box-shadow: -1em 0.5em 2em rgba(56, 48, 48, 0.215);
    transition: box-shadow 0.3s;
}
div.card#destino:hover{
    
}   
.card-img-top{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-title#destino{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 550;
    color: #3b3b3b;
} 
li.list-group-item{
    border-radius: 20px;
}
/*vantagens Ciel*/
.row#vantagens{
    margin-top: 70px;
    margin-bottom: 20px;
}
/*responsividade*/
@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin:  0;
    }
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 125%;
    }
    .col-4#apenasIda{
        width:50%;
        margin-right: 25%;
    }
    .col-4#IdaeVolta{
        width:40%;
        margin-right: 10px;
    }
    .col-4#IdaeVolta + .col-4#IdaeVolta{
        margin-right: 45px;
        margin-left: 0px;
        justify-content: space-between ;
    }
    #Data {
        width: 20px;
    }
    .search-btn {
        margin-left:40px;
        padding: 7px 30px; 
        font-size: 10px; 
        width: 300px;
    }
    .card#destino{
        padding:0px;
        border-radius: 20px;
        height: 300px;
        margin-bottom: 10px;
    }
}

