@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
}

body{
    background: #f0e5da;
    font-family: 'poppins', sans-serif;
}

.logo img{
    width: 100%;
    cursor: pointer;
}

.nav{
    background: #f2ece6;;

}

.nav-item{
    color:#2e2e2e
}
nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin: 5px 10px;
}

nav ul li a{
    padding: 2px 10px;
    color: #2e2e2e;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
}

nav ul li a:hover{
    color: #fff;
    background: #df8cc6;
    border-radius: 5px;
}


/*.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 7rem;
}
.home-btn{
    padding: 15px 45px;
    background:#A93C88;
    color:white;
    border-radius: 10px;
    font-weight: 700;
}
.home-btn:hover{
    background:#bc529c
} 
.home-img img{
    width: 800px;
}*/

.container{
    padding-top: 60px;
}

.col-8#dest {
    display: flex;
    /*padding-left: 40px;*/
    /*padding-right: 100px;*/
    font-size: 13px;
}

.destination-btn{
    padding: 7px 30px;
    background:#A93C88;
    color:white;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    align-content: flex-start;
    flex-direction: column;
    justify-content: space-between ;
}
.destination-btn + .destination-btn{
    margin-left: 20px;
    width:100%;
    justify-content: space-between ;
}
.row#dest-input{
    display: flex;
    padding-top:20px;
    justify-content: flex-start;
}

.col#dest-input{
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 10px;
    padding: 27px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between ;
}
#dest-input label{
    display: flex;
    text-align: left;
    margin-bottom: -10px;
}
#dest-input input{
    width: 90%;
    height: 50px;
    border: 1px solid #a93c887e;
    border-radius: 8px;
}
.row#apenasIda{
    padding-top:20px;
}
.col#apenasIda{
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
}
#Data {
    color: transparent;
}


@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 125%;
    }
}

