#dataTable{
    border: 2px solid red
}

#aStyle{
    border: 2px solid green;
}

#bStyle{
    border: 2px solid rgb(23, 0, 128);
}

.assentoLivre{
    background-color: green;
}

/*quando clicar no botao*/
.assentoLivre:active {
    background-color: #458ea0; 
}
.assentoOcupado{
    background-color: rgb(157, 46, 46);
    pointer-events: none;
}

.assentoEscolhido{
    background-color: grey;
}