.container#mapa{
    padding-top: 50px;
}
.col#colunaA{
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-left: 20px;
}
.col#colunaB{
    margin-left: 35px;
}
.col#assentos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    display: flex;
    border:none;
    flex-direction: column;
    align-content: center;
    margin-top: 3px;
    cursor: pointer;
    background: none;
    background-image: url(assento.png);
    background-size: cover;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 50px;
    padding-right: 30px;
    font-size: 13px;
    /*background-color: red ;
    border-radius: 15px;*/
}

/*button:hover{
    background-color: #f25ac460;
    border-radius: 15px;
}*/

label{
    display: flex;
    border:none;
    flex-direction: column;
    align-items:flex-end;
    margin-top: 21px;
    margin-bottom: 42px;
    padding-bottom: 2px;
}
